<div class="modal-header">
    <h4 class="modal-title">{{'Confirm'}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="hide()">&times;
    </button>
</div>
<div class="modal-body">
<!--    <jhi-alert-error></jhi-alert-error>-->
    <p id="jhi-delete-market-heading">{{message}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" autofocus="true" data-dismiss="modal" (click)="confirm()">
        <span>Ok</span>
    </button>
    <button type="button" class="btn btn-danger" (click)="hide()">
        <span>Cancel</span>
    </button>
</div>
