<div class="modal-header">
  <h4 class="modal-title">Change Zombie Name</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form name="editForm" role="form" novalidate (ngSubmit)="changeName()" [formGroup]="editForm">

  <div class="modal-body">
      <div class="form-group">
        <label for="newName">New Zombie Name</label>
        <div class="input-group">
          <input id="newName" class="form-control" formControlName="newName">
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="changeName()">Change Name</button>
  </div>
</form>
